/* style1.css */
body {
    /* display: grid; */
    /* place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container { font-size: 20px;
    text-align: center;
    position: relative;
}

.dog {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 20px auto;
}

.dog.stopped {width: 200px;
    height: 200px;
    background-image: url('dogsit.jpeg'); 
}

.dog.running {width: 200px;
    height: 200px;
    background-image: url('dogrun.jpeg');}

    .round-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #ff6f61;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
    }

#start {
    position: relative;
    margin-top: 10px;
    /* position: absolute;
    bottom: -50px; 
    top: -70px; 
     left: 50%;
    transform: translateX(-50%);
    margin-top: 20px; */
}

#stop {
    position: relative;
    margin-top: 10px;
    /* position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%); */
}

/* .step-counter {
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.step-counter::before {
    /* content: 'Steps:'; */
    /* justify-content: center;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold; */

#reset {
    border-radius: 20%;  /* 버튼 모서리 둥글게 조정해줌 */
    background-color: yellow;
    /* position: absolute;
    bottom: -120px;
    left: 50px;
    transform: translateX(-50%); */
    /* left: calc(50% - 50px);  가운데 정렬을 위해 left 값을 조정 */ */
    width: 100px; /* 너비 설정 */
    height: 50px; /* 높이 설정 */
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}